<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CASCExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="OnlineStorageList" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <CASCExplorer.Properties.Settings>
            <setting name="LocaleFlags" serializeAs="String">
                <value>enUS</value>
            </setting>
            <setting name="ContentFlags" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RecentStorages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
        </CASCExplorer.Properties.Settings>
    </userSettings>
    <OnlineStorageList>
        <add key="wow" value="WoW (Retail)"/>
        <add key="wowt" value="WoW (PTR)"/>
        <add key="wow_beta" value="WoW (Beta)"/>
        <add key="d3" value="Diablo III (Retail)"/>
        <add key="d3t" value="Diablo III (PTR)"/>
        <add key="d3b" value="Diablo III (Beta)"/>
        <add key="s2" value="Starcraft II (Retail)"/>
        <add key="s2t" value="Starcraft II (PTR)"/>
        <add key="s2b" value="Starcraft II (Beta)"/>
        <add key="hero" value="Heroes of the Storm (Retail)"/>
        <add key="herot" value="Heroes of the Storm (PTR)"/>
        <add key="hsb" value="Hearthstone (Retail)"/>
        <add key="pro" value="Overwatch (Beta)"/>
        <add key="agent" value="Battle.net Agent"/>
        <add key="bna" value="Battle.net App"/>
        <add key="clnt" value="Battle.net Client"/>
    </OnlineStorageList>
</configuration>
